<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            color: #333;
            text-align: center;
            margin: 50px;
        }
        h1 {
            color: #e71616;
        }
    </style>
</head>
<body>
    <h1>Oops! Algo deu errado</h1>
    <p>Não conseguimos processar sua solicitação. Por favor, tente novamente mais tarde.</p>
    <p><strong>Mensagem:</strong> <span th:text="${message}"></span></p>
</body>
</html>
