<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pacientes</title>
</head>
<body>
    <h1>Pacientes</h1>
    <a href="/paciente-ui/novo">Novo Paciente</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.id}"></td>
                <td th:text="${paciente.nome}"></td>
                <td th:text="${paciente.dataNascimento}"></td>
                <td th:text="${paciente.cpf}"></td>
                <td th:text="${paciente.telefone}"></td>
                <td>
                    <a th:href="@{/paciente-ui/editar/{id}(id=${paciente.id})}">Editar</a>
                    <a th:href="@{/paciente-ui/excluir/{id}(id=${paciente.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>